.logo {
    font-family:fantasy;
    font-weight:900;
    text-align: center;
}

table td + td { border-left:2px solid rgb(218, 144, 53); }

.button {
    display: inline-block;
    padding: .7em 1em .7em;
    background: rgb(228, 185, 115);
    border-radius: .5em;
    color: white;
    margin: .2em;
    text-decoration: none;
    
}

a {
    color: red;
    margin-right: 10px;
    text-decoration: none;
    font-size: larger;
}

.course-title {
    display: inline-block;
    padding: 8px;
    color: rgb(0, 0, 0);
    font-size:x-large;
    border-style: hidden;
    border-radius: .3em;
    background-color: rgb(226, 169, 78);
    
}

.course-title:hover {
    color:#ffffff;
    padding: 8px;
    border-style: solid;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: auto;
    max-width: 40em;
    background-color: #f6e4c7;
    border-left: 2px solid rgb(197, 122, 0);
    border-right: 2px solid rgb(197, 122, 0);
    border-bottom: 2px solid rgb(197, 122, 0);
    padding: 1em 3em;
}
.login-button {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

.review-form {
    line-height: 1.6;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    left: -9999px
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;

}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.static-stars {
    float:left;
    height: 46px;
    padding: 0 10px;
}
.static-stars:not(:checked) > input {
    position:absolute;
    left: -9999px
}
.static-stars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;

}
.static-stars:not(:checked) > label:before {
    content: '★ ';
}
.static-stars > input:checked ~ label {
    color: #ffc700;
    
}

.static-stars > input:checked + label:hover,
.static-stars > input:checked + label:hover ~ label,
.static-stars > input:checked ~ label:hover,
.static-stars > input:checked ~ label:hover ~ label,
.static-stars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
