{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if error %}
<p id="error">{{error}}</p>
{% endif %}


<form id="loginForm" action="/login" method="POST" onsubmit="return check(this)">
    <label for="username">Username: </label>
    <input type="text" name="username"><br>
    <label for="password">Password: </label>
    <input id="button" style="margin-bottom: 10px" type="password" name="password"><br>
    <input class="button" style="margin-bottom: 10px" type="submit" value="Login">
</form>

<form id="signupForm" style="display:none" action="/signup" method="POST" onsubmit="return check(this)">
    <label for="username">Username: </label>
    <input type="text" name="username"><br>
    <label for="password">Password: </label>
    <input type="password" name="password1"><br>
    <label for="password2">Re-enter password: </label>
    <input style="margin-bottom: 10px" type="password" name="password2"><br>
    <input  class="button" style="margin-bottom: 10px" type="submit" value="Sign up">
</form>
<button class="button" id="createAccountButton" type="button" style="margin-bottom: 10px" 
    onclick="open_form()">
    Create account
</button><br>

<script>
    function open_form() {
        var loginFormVisibility = document.getElementById('loginForm').style.display
        var signupFormVisibility = document.getElementById('signupForm').style.display
        if (loginFormVisibility !== "none") {
            document.getElementById('loginForm').style.display="none"
        } else {
            document.getElementById('loginForm').style.display="block"
            document.getElementById('createAccountButton').innerHTML = "Create account"
        }
        
        if (signupFormVisibility === "none") {
            document.getElementById('signupForm').style.display="block"
            document.getElementById('createAccountButton').innerHTML = "Back to login"
        } else {
            document.getElementById('signupForm').style.display="none"
        }
        
    }
    
    function check(form) {
        if (form.username.value.length < 3) {
            alert("Username has to be atleast 3 characters long")
            return false
        }
        if (form.password2.value.length < 3) {
            alert("Password has to be atleast 3 characters long")
            return false
        }
        if (form.password.value.length < 3) {
            alert("Password has to be atleast 3 characters long")
            return false
        }
    }
    
    setTimeout(() => {
        document.getElementById('error').style.display = 'none'
    }, 5000)
</script>
{% if signup %}
<script>open_form()</script>
{% endif %}

{% endblock %}

